@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  background: radial-gradient(circle, rgb(255, 255, 255) 70%, rgb(243, 243, 243) 100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #292d34;
}

.tabs-component {
  width: 320px;
}
@media (max-width: 575.9px) {
  .tabs-component {
    width: 300px;
  }
}
.tabs-component .tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  position: relative;
}
.tabs-component .tabs .slider {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 33.3333%;
  background: linear-gradient(45deg, rgb(245, 205, 81) 0%, rgb(247, 206, 81) 100%);
  box-shadow: 0 10px 25px rgba(245, 205, 81, 0.4);
  border-radius: 9px;
  z-index: 0;
  transition: all 0.3s linear;
}
.tabs-component .tabs .tab {
  width: 33.33333%;
  height: 100%;
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 16px 0 16px 0;
  border-radius: 9px;
  font-size: 16px;
  z-index: 1;
  position: relative;
  color: #7c828d;
  transition: all 0.3s linear;
}
.tabs-component .tabs .tab:hover {
  color: #f7ce51;
}
.tabs-component .tabs .tab .title {
  font-size: 16px;
}
.tabs-component .tabs .tab.active .title {
  font-weight: 900;
  color: white;
}
.tabs-component .tabs .tab:nth-of-type(1).active ~ .slider {
  left: 0;
}
.tabs-component .tabs .tab:nth-of-type(2).active ~ .slider {
  left: 33.33333%;
}
.tabs-component .tabs .tab:nth-of-type(3).active ~ .slider {
  left: 66.66666%;
}
.tabs-component .panels .panel {
  display: none;
  height: 100%;
  padding: 24px;
  border-radius: 9px;
  background: white;
  box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.tabs-component .panels .panel .content-img {
  margin-bottom: 16px;
}
.tabs-component .panels .panel .content-img img {
  max-width: 100px;
  vertical-align: middle;
}
.tabs-component .panels .panel .content-title {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 16px;
  color: #292d34;
}
.tabs-component .panels .panel .content-paragraph {
  font-size: 16px;
  font-weight: 400;
  color: #7c828d;
}
.tabs-component .panels .panel.show {
  display: block;
}
.tabs-component .panels .panel.show .content-img {
  animation: toLeft 1s ease-out 0s both;
}
.tabs-component .panels .panel.show .content-title {
  animation: toLeft 1s ease-out 0.075s both;
}
.tabs-component .panels .panel.show .content-paragraph {
  animation: toLeft 1s ease-out 0.15s both;
}

@keyframes toLeft {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.circle {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
  filter: blur(0px);
}
.circle.one {
  width: 200px;
  height: 200px;
  background: linear-gradient(45deg, rgb(245, 205, 81) 0%, rgb(247, 206, 81) 100%);
  top: 63%;
  left: 53%;
  z-index: -1;
  box-shadow: 0 10px 25px rgba(245, 205, 81, 0.4);
  background: radial-gradient(circle at 100px 100px, #f7ce51, #f5cd51);
}
.circle.one::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 220px;
  border-radius: 100%;
  opacity: 0.3;
  background: linear-gradient(45deg, rgb(245, 205, 81) 0%, rgb(247, 206, 81) 100%);
  z-index: -1;
  box-shadow: 0 10px 25px rgba(245, 205, 81, 0.4);
  filter: blur(20px);
}

.jssecrets {
  font-weight: 500;
  text-decoration: none !important;
  font-family: "Urbanist";
  padding: 16px;
  background: #ffc805;
  color: #000000;
  font-size: 1.2em;
  letter-spacing: 0.2px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(184, 144, 0, 0.1882352941), 0px 8px 24px rgba(184, 144, 0, 0.3764705882);
  position: absolute;
  bottom: 24px;
  right: 24px;
  transition: all 0.3s;
}
.jssecrets:hover {
  transform: translateY(-4px);
}